/* .navbarr {
    position: sticky !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 10 !important;
    backdrop-filter: blur(30px);
} */




/*--------------------------------------------  Dark Theme ------------------------------------------- */

/* Light Theme */
body {
    background-color: #ffffff;
    color: #000000;
}

.theme {
    color: #000000;
}


/* Dark Theme */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .theme {
    color: #fff;
}


/*--------------------------------------------  Dark Theme ------------------------------------------- */



/*---------------------------------------------- Navebar---------------------------------------------- */

.nav_styling {
    
    top: 0;
    width: 100%;
 
   
}


/*---------------------------------------------- Navebar End ------------------------------------------ */

@media screen and (max-width:500px) {
    .fab {
        width: 50px;
        height: 50px;
        /* background: url(../img/arrow.png); */
        background-color: black;

        opacity: 0.5;
        cursor: pointer;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        position: fixed;
        top: 91%;
        left: 84%;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
    }

    .darkbut {
        position: relative;
        right: 15px !important;
    }

    .insta,
    .face {
        display: none;
    }

}

/*--------------------------------------------- hero seciton  ------------------------------------------ */

.hero_section_contents {

    position: relative;
    left: 100px;
bottom: 300px;

}
/*--------------------------------------------- hero seciton end ------------------------------------------ */
.footer_icons:hover {

    background-color: white;
    color: black;
    cursor: pointer;



}


.fab {
    width: 50px;
    height: 50px;

    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 50%;
    /* background: url(../img/arrow.png); */
    background-color: black;
    background-position: center;
    background-size: contain;
    position: fixed;
    z-index: 1;
    transform: translatey(2px);
    transition: 1s;
    top: 90%;
    left: 95%;
    display: flex;
    flex-wrap: wrap;
}