/* .navbarr {
    position: sticky !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 10 !important;
    backdrop-filter: blur(30px);
} */

* {
    /* font-family: "Lexend Giga", serif; */
    font-family: "Bebas Neue", serif;

}



/*--------------------------------------------  Dark Theme ------------------------------------------- */

/* Light Theme */
body {
    background-color: #ffffff;
    color: #000000;
}

.theme {
    color: #000000;
}


/* Dark Theme */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .theme {
    color: #fff;
}


/*--------------------------------------------  Dark Theme ------------------------------------------- */



/*---------------------------------------------- Navebar---------------------------------------------- */

.nav_styling {

    top: 0;
    width: 100%;


}


/*---------------------------------------------- Navebar End ------------------------------------------ */

@media screen and (max-width:500px) {
    .fab {
        width: 50px;
        height: 50px;
        /* background: url(../img/arrow.png); */
        background-color: black;

        opacity: 0.5;
        cursor: pointer;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        position: fixed;
        top: 91%;
        left: 84%;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
    }

    .darkbut {
        position: relative;
        right: 15px !important;
    }

    .insta,
    .face {
        display: none;
    }

    .rouded_css {
        border-radius: 40px;
    }

}

/*--------------------------------------------- hero seciton  ------------------------------------------ */







/*--------------------------------------------- hero seciton end ------------------------------------------ */
.footer_icons:hover {

    background-color: white;
    color: black;
    cursor: pointer;



}


/*-------------------------- Card ------------------------ */

.card_uss {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: var(--bs-card-border-radius);


    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 10px;
    overflow: hidden;
}


.card_uss:hover {

    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


/*-------------------------- Card End ------------------------ */


/*-------------------------- Trednding Products ------------------------ */

.carousel-control-one {
    position: relative;
    left: -90px;
    top: -350px;
}


.carousel-control-two {
    position: relative;
    left: 90px;
    top: -350px;
}



/*-------------------------- Trednding Products End ------------------------ */

/*-------------------------- Fab ------------------------------ */

.fab {
    width: 50px;
    height: 50px;

    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 50%;
    /* background: url(../img/arrow.png); */
    background-color: black;
    background-position: center;
    background-size: contain;
    position: fixed;
    z-index: 1;
    transform: translatey(2px);
    transition: 1s;
    top: 90%;
    left: 95%;
    display: flex;
    flex-wrap: wrap;
}


/*-------------------------- Fab End --------------------------- */




