.fab{
    width: 80px;
    height:80px;
    
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    cursor:pointer;
    opacity: 0.5;
    border-radius: 50%;
    /* background: url(../img/arrow.png); */
    background-color: black;
    background-position: center;
    background-size: contain;
    position:fixed;
    z-index:1;
    transform:translatey(2px);
    transition: 1s;
    top: 75%;
    left: 89%;
    display: flex;
    flex-wrap: wrap;
}
/* Default light mode styles */
body {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: white;
}


/* Style the button */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
}




@media screen and (max-width:500px){
    .fab{
        width: 60px;
        height:60px;
        /* background: url(../img/arrow.png); */
        background-color: black;
      
        opacity: 0.5;
        cursor:pointer;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        position:fixed;
        top: 85%;
        left: 75%;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
    }

}
